<%= form_for(book) do |f| %>
 	<% if @book.errors.any? %>
  		<h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
  		<% @book.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
  	<% end %>
  		<% end %>
	<div class="field row">
		<%= f.label :title %>
		<%= f.text_field :title, class: "col-xs-12 book_title" %>
	</div>

	<div class="field row">
		<%= f.label :body %>
		<%= f.text_area :body, class: "col-xs-12 book_body" %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>